.container {
    width: 1480px;
    height: 1282px;
}

.logo-link { 
    color: rgba(0, 0, 0, 1); 
    text-decoration: none;
    font-size: 80px;
    left: 98px;
    width: 334px;
    height: 79px;
    left: 0px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;


justify-content: center;
padding-left: 98px;
padding-top: 63px;}

.logo-text {
    color: rgba(75, 202, 255, 1);
    text-decoration: none;
    font-size: 80px;
    left: 98px;
    justify-content: center;
}

.flex-container {
     position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1280px;
    height: 69px;
    left: 100px;
     top: 40px;
    
}

.functional-programming {
    width: 1280px;
        height: 69px;
        margin-top: 24px;
        margin-bottom: 18px;
        font-family: roboto;
        font-weight: 400;
        font-size: 24px;
        color: white;
        left: 100px;
        top: 40px;
    
        background: #35444F;
        
        
}
.functional-programming:hover {
  background: #222F3A;;
     text-decoration: none;}


aside {
             display: block;
         }

.left-menu-border {
    display: flex;
     position: relative;
    width: 344px;
    height: 399px;
    left: 98px;
    top: 118px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
  

}

  .left-menu1 li:hover { 
    background:#DBDBDB;;
    position: block;
        width: 342px;
        height: 81px;
        left: 1px;
        top: 78px;
  font-family: 'Roboto';
font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    
    
            /* identical to box height, or 100% */
        
    /* display: flex; */
    /* align-items: center;
    color: #35444F; */ 

} 


.left-menu1 { 
    display: block;
    /* margin-left: 44px; */
    margin-right: 82px;
    margin-bottom: 40px;
    margin-top: 26px;
    font-size: 27px;

    width: 220px;
    height: 27px;
    left: 42px;
    top: 184px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;

    color: #495863;
    text-decoration: none;
    /* border: 1px; */

}


/* ul li:hover ul {
    display: block;
} */

/* input [type="submit"]:hover {
    background-color: #DBDBDB;
} */

    

/* .left-menu:hover{
    display: flex;
    background: #DBDBDB;
    align-items: left;
    padding-left: 100px; 
    width: 342px;
         height: 81px;
        left: 1px;
        top: 78px; 
        padding-top: 27px;
        padding-bottom: 27px;
        padding-right: 70px;
        padding-left: 38px; 
    } */
       

.image-container {
    display: flex;
    position: absolute;
    width: 885px;
    height: 529px;
    left: 396px;
right: 99px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.image { 
    position: absolute;
        width: 320px;
        height: 381px;
        left: 297px;
        top: 75px;
        right: 99px;
        z-index: auto;
    
        background: url(image.jpg);
}

.text-container {
    position: absolute;
        width: 885px;
        height: 120px;
        left: 396px;
        top: 566px;
}

.lorem-impsum1 { 
    display: flex; 
    width: 885px;
    height: 120px;
    left: 0px;
    top: 566px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C; }

    .lorem-impsum2 { 
    display: flex;
    width: 885px;
    height: 109px;
    left: 0px;
    top: 720px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    color: #2C2C2C;

    }


.footer-container {
             display: flex;
             position: relative;
             flex-direction: row;
             width: 1250px;
             height: 69px;
             left: 100px;
             top: 583px;
             background: rgba(99, 105, 110, 0.48);
             align-items: center;
            justify-content: space-around;
    
         }

    .footer {
        display: flex;
        flex-direction: row;
        position: static;
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 28px;
            /* box-sizing: border-box; */
            /* justify-content: space-between; */
            font-size: 28px;
            /* text-align: center; */
            color: #0C1927;
            /* align-items: center; */

    }

    a  { text-decoration: none;
    color: #0C1927;}

    a:hover {
       color: rgba(49, 129, 166, 1); 
    text-decoration: none;

    }

    .copyright { 
            display: flex;
        position: static;
        flex-direction: row;
        padding-left: 135px;
        padding-right: 40px;
            width: 190px;
            height: 69px;
            left: 1050px;
            top: 20px;
            /* right: 40px; */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            /* or 100% */
            align-items: center;
            color: #010101;

    }
